@font-face {
  font-family: "Roboto";
  src: url("./fonts/Roboto-Regular.ttf") format("truetype");
  font-weight: 400;
}
* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-style: normal;
  font-family: "Roboto";
}

body {
  width: 1400px;
  margin: 0 auto;
  background-color: #f9f7f3;
}

header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
header .img-logo {
  background-image: url(./assets/img-logo.svg);
  background-repeat: no-repeat;
  background-size: contain;
  width: 104px;
  height: 40px;
}
header nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
header nav p {
  font: 400 16px "Roboto";
  color: #000000;
  border-left: 1px solid #000000;
  border-right: 1px solid #000000;
  padding: 20px 40px;
}
header nav .btn {
  background: #f1eafb;
  font: 400 16px "Roboto";
  color: #9f4a19;
  width: 200px;
  padding: 20px 0;
  text-align: center;
}

.start-agency {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 100px;
}
.start-agency .left-side {
  width: 430px;
}
.start-agency .left-side h1 {
  font: 400 70px "Roboto";
  color: #000000;
  margin-bottom: 30px;
}
.start-agency .left-side p {
  font: 400 18px "Roboto";
  color: #000000;
  margin-top: 30px;
  margin-bottom: 30px;
}
.start-agency .left-side p:last-child {
  font: 400 14px "Roboto";
  color: #808080;
  text-align: center;
  margin-top: 15px;
  width: 262px;
}
.start-agency .left-side .btn-free {
  background: #f1eafb;
  border: 1px solid #000000;
  font: 400 16px "Roboto";
  color: #9f4a19;
  width: 262px;
  padding: 11px 0;
  text-align: center;
  margin: 30px 0 12px;
}
.start-agency .left-side .btn-demo {
  background: #ffffff;
  border: 1px solid #000000;
  font: 400 16px "Roboto";
  color: #9f4a19;
  width: 262px;
  padding: 11px 0;
  text-align: center;
}
.start-agency .right-img {
  background-image: url(./assets/start-img.svg);
  background-repeat: no-repeat;
  background-size: contain;
  width: 500px;
  height: 460px;
}

section .img-phone {
  background-image: url(./assets/img-phone.svg);
  background-repeat: no-repeat;
  background-size: contain;
  width: 894px;
  height: 733px;
  margin: 120px auto 0;
}